# kaggle_Bike Sharing Demand

## Load Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
%matplotlib inline
plt.style.use('ggplot')

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [4]:
train = pd.read_csv('bike.csv'); train

                  datetime  season  holiday  ...  casual  registered  count
0      2011-01-01 00:00:00       1        0  ...       3          13     16
1      2011-01-01 01:00:00       1        0  ...       8          32     40
2      2011-01-01 02:00:00       1        0  ...       5          27     32
3      2011-01-01 03:00:00       1        0  ...       3          10     13
4      2011-01-01 04:00:00       1        0  ...       0           1      1
...                    ...     ...      ...  ...     ...         ...    ...
10881  2012-12-19 19:00:00       4        0  ...       7         329    336
10882  2012-12-19 20:00:00       4        0  ...      10         231    241
10883  2012-12-19 21:00:00       4        0  ...       4         164    168
10884  2012-12-19 22:00:00       4        0  ...      12         117    129
10885  2012-12-19 23:00:00       4        0  ...       4          84     88

[10886 rows x 12 columns]

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.7+ KB

## Data preprocessing

In [7]:
train['datetime'] = pd.to_datetime(train['datetime'])

In [8]:
train['datetime']

0       2011-01-01 00:00:00
1       2011-01-01 01:00:00
2       2011-01-01 02:00:00
3       2011-01-01 03:00:00
4       2011-01-01 04:00:00
                ...
10881   2012-12-19 19:00:00
10882   2012-12-19 20:00:00
10883   2012-12-19 21:00:00
10884   2012-12-19 22:00:00
10885   2012-12-19 23:00:00
Name: datetime, Length: 10886, dtype: datetime64[ns]

In [10]:
train['year'] = train['datetime'].dt.year
train['month'] = train['datetime'].dt.month
train['day'] = train['datetime'].dt.day
train['hour'] = train['datetime'].dt.hour
train['dayofweek'] = train['datetime'].dt.dayofweek
train

                 datetime  season  holiday  ...  day  hour  dayofweek
0     2011-01-01 00:00:00       1        0  ...    1     0          5
1     2011-01-01 01:00:00       1        0  ...    1     1          5
2     2011-01-01 02:00:00       1        0  ...    1     2          5
3     2011-01-01 03:00:00       1        0  ...    1     3          5
4     2011-01-01 04:00:00       1        0  ...    1     4          5
...                   ...     ...      ...  ...  ...   ...        ...
10881 2012-12-19 19:00:00       4        0  ...   19    19          2
10882 2012-12-19 20:00:00       4        0  ...   19    20          2
10883 2012-12-19 21:00:00       4        0  ...   19    21          2
10884 2012-12-19 22:00:00       4        0  ...   19    22          2
10885 2012-12-19 23:00:00       4        0  ...   19    23          2

[10886 rows x 17 columns]

In [11]:
train.pop('datetime')

0       2011-01-01 00:00:00
1       2011-01-01 01:00:00
2       2011-01-01 02:00:00
3       2011-01-01 03:00:00
4       2011-01-01 04:00:00
                ...
10881   2012-12-19 19:00:00
10882   2012-12-19 20:00:00
10883   2012-12-19 21:00:00
10884   2012-12-19 22:00:00
10885   2012-12-19 23:00:00
Name: datetime, Length: 10886, dtype: datetime64[ns]

In [12]:
train

       season  holiday  workingday  weather  ...  month  day  hour  dayofweek
0           1        0           0        1  ...      1    1     0          5
1           1        0           0        1  ...      1    1     1          5
2           1        0           0        1  ...      1    1     2          5
3           1        0           0        1  ...      1    1     3          5
4           1        0           0        1  ...      1    1     4          5
...       ...      ...         ...      ...  ...    ...  ...   ...        ...
10881       4        0           1        1  ...     12   19    19          2
10882       4        0           1        1  ...     12   19    20          2
10883       4        0           1        1  ...     12   19    21          2
10884       4        0           1        1  ...     12   19    22          2
10885       4        0           1        1  ...     12   19    23          2

[10886 rows x 16 columns]